VehicleBazaar/src/vehicle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vehicles" type="vehiclesType"/>
  <xs:complexType name="vehicleType">
    <xs:sequence>
      <xs:element name="brand">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Tata"/>
            <xs:enumeration value="Bajaj"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="model">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sumo"/>
            <xs:enumeration value="Vikrant"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="colour">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="White"/>
            <xs:enumeration value="Black"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fuelType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Diesel"/>
            <xs:enumeration value="Petrol"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="price">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2000000"/>
            <xs:enumeration value="100000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="maximumSpeed">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="200"/>
            <xs:enumeration value="180"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="review"/>
      <xs:element name="mileage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="15"/>
            <xs:enumeration value="57"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiclesType">
    <xs:sequence>
      <xs:element type="vehicleType" name="vehicle" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>